body{
  padding-top:80px;
  word-wrap:break-word;

}
img{
  height: 200px;
}
.hide{
  display: none;
}
#one{
  position: absolute;
  bottom: 200px;
  left: 160px;
  width: 25%;
  padding: 1%;
  background-color: rgba(255, 255, 255, .5);

}
#box{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 27%;
  padding: 1%;

}
#innerBox{
  height: 200px;
  background-color: rgba(255, 255, 255, .5);
}
#local{
  font-size: 15px;
  margin-top: 0%;
}
.sec{
  border: 1px solid white;
  background-color: rgba(255, 255, 255, .5);
  padding: 4%;
  text-align: center;
  margin-top: 31%;

}

input{
  padding: .5%;
  display: inline-block;
}
#file, #name{
  display: inline-block;

  width: 52%;
  margin-bottom: 2%;
}
button{

  display: inline-block;
}
#loginBox{
  border: 1px solid black;
  position: absolute;
  bottom: 40px;
  left: 135px;
  margin: 0%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 25%;
}
#signBox{
  border: 1px solid black;
  position: absolute;
  bottom: 20px;
  left: 140px;
  margin: 0%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 25%;
}
#index{
  background-image: url('2.png');
  background-repeat: no-repeat;
  background-size: 100% 750px;
}
#login{
  background-image: url('4.png');
  background-repeat: no-repeat;
  background-size: 100% 750px;
}
#profile{
  background-image: url('1.png');
  background-repeat: no-repeat;
  background-size: 100% 750px;
}
#signup{
  background-image: url('3.png');
  background-repeat: no-repeat;
  background-size: 100% 750px;
}
