body{
  padding-top:80px;
  word-wrap:break-word;

}

img{
  height: 200px;
}
.hide{
  display: none;
}
#main{
  /* height: 100vh; */
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
}
#one{
  grid-column: 1;
  grid-row: 1;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, .5);
  padding: 5%;
 text-align: center;
  border-radius: 30px;
  margin: 25% 0% 5% 0%;

}
#post{
  /* display: none; */
  border: 2px solid white;
  background-color: rgba(255, 255, 255, .5);
  padding: 5%;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 10%;
}
#box{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 27%;
  padding: 1%;

}
#innerBox{
  height: 200px;
  background-color: rgba(255, 255, 255, .5);
  border: 2px solid white;
  border-radius: 30px;
}
#local{
  font-size: 15px;
  margin-top: 0%;
}
#two{
  /* border: 1px solid white;
  background-color: rgba(255, 255, 255, .5);
  padding: 4%;
  text-align: center;
  margin-top: 31%; */
  grid-column: 1;
  grid-row: 2;

}

input{
  padding: .5%;
  display: inline-block;
}
#file, #name{
  display: inline-block;

  width: 52%;
  margin-bottom: 2%;
}
button{

  display: inline-block;
}


#index{
  background-image: url('2.png');
  background-repeat: no-repeat;
  background-size: 100% 750px;
}
#indexOne{
  position: absolute;
  bottom: 120px;
  left: 240px;
  background-color: rgba(255, 255, 255, .5);
  border: 2px solid white;
  border-radius: 30px;
}


#login{
  background-image: url('4.png');
  background-repeat: no-repeat;
  background-size: 100% 750px;
}
#loginBox{
  position: absolute;
  bottom: 23px;
  left: 143px;
  margin: 0%;
  width: 25%;
  background-color: rgba(255, 255, 255, .5);
  border: 2px solid white;
  border-radius: 30px;
  padding: .5% 1%;
}


#profile{
  /* background-image: url('1.png');
  background-repeat: no-repeat;
  background-size: 100% 750px; */
  background-color: inherit;
}
#h {
  background: url('1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#signup{
  background-image: url('3.png');
  background-repeat: no-repeat;
  background-size: 100% 750px;
}
#signBox{
  position: absolute;
  bottom: 10px;
  left: 140px;
  margin: 0%;
  width: 25%;
  background-color: rgba(255, 255, 255, .5);
  border: 2px solid white;
  border-radius: 30px;
  padding: .5% 1%;
}
